@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    padding-top: 35px;
    padding-bottom: 1px;
}

h1 {
    color: #4D3E3E;
    font-weight: bold;
    margin-top: 30px;
}
h3 {
    color: #4D3E3E;
    font-weight: bold;
}
.catalogo img {
    width: 200px;
    height: 100%;
    padding: 5px;
    border-radius: 5%;
}
.catalogoRes img {
    width: 150px;
    margin: 5px;
    border-radius: 5%;
    text-align: center;
}
.catalogoRes h5 {
    color: #604b32;
    font-weight: bold;
}
.biblioteca img {
    width: 150px;
    height: 100%;
    padding: 5px;
    border-radius: 5%;
}

.owl-carousel img{
    height: 300px;
  }


