@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: #4D3E3E;
    font-weight: bold;
    margin-top: 30px;
}
h3 {
    color: #4D3E3E;
    font-weight: bold;
}
.catalogo img {
    width: 200px;
    height: 100%;
    padding: 5px;
    border-radius: 5%;
}
.catalogoRes img {
    width: 150px;
    margin: 5px;
    border-radius: 5%;
    text-align: center;
}
.catalogoRes h5 {
    color: #604b32;
    font-weight: bold;
}
.biblioteca img {
    width: 150px;
    height: 100%;
    padding: 5px;
    border-radius: 5%;
}
/*  SLIDER   */
#container {
    display: grid;
    place-items: center
}
#slider-container {
    height: 300px;
    width: 85vw;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}
#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 15px;
    width: 15px;
    border-left: 8px solid #696969;
    border-top: 8px solid #696969;
    cursor: pointer;
}
#slider-container .btn:hover {
    transform: scale(1.2);
}
#slider-container .btn.inactive {
    border-color: #282828
}
#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
}
#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}
#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
}
#slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    border-radius: 5px;
}

/*        FOOTER        */
footer {
    background: #604b32;
    color: rgb(247, 246, 240);
}
