@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #4D3E3E;
    font-weight: bold;
}

h5 {
    color: #4D3E3E;
    font-weight: bold;
}
